.navbar {
    width: 100%;
    height: 60px;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .menu-icon {
    position: absolute;
    left: 20px;
    font-size: 26px;
    cursor: pointer;
    color: #1b3764;
  }
  
  .navbar-title {
    font-size: 23px;
    font-weight: 700;
    color: #1b3764;
    cursor: pointer;
    text-decoration: none;
  }

  .navbar nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar nav ul li{
    list-style: none;
  }

  .navbar ul li a{
    text-decoration: none;
    color: black;
  }
