.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100vh;
  background-color: #16335B;
  color: white;
  padding: 25px 20px;
  transform: translateX(-100%);
  transition: 0.35s ease;
  z-index: 2000;
}

.sidebar.open {
  transform: translateX(0);
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 26px;
  cursor: pointer;
  margin-bottom: 15px;
}

.group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.group-item a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.delete-btn {
  background: transparent;
  border: 1px solid red;
  color: red;
  padding: 2px 6px;
  cursor: pointer;
  border-radius: 4px;
}
