.students-list {
  max-width: 600px;
  margin: 40px auto;
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.08);

  max-height: 555px;
  overflow-y: auto;

  scrollbar-width: none;
}
.students-list::-webkit-scrollbar {
  display: none;
}

.list-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

.list-header h2 {
  flex: 1;              /* H2 markazda bo‘lishi uchun */
  text-align: center;
}

.dots-menu {
  flex: 0;              /* faqat o‘lchami kerakli */
  margin-left: auto;    /* o‘ngga surish */
}


.dots {
  font-size: 24px;
  cursor: pointer;
}


/* Dropdown menu */
.menu-box {
  position: absolute;
  right: 0;
  top: 28px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px 12px;
  white-space: nowrap;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  z-index: 99;
}

.menu-box button {
  border: none;
  background: none;
  padding: 5px 0;
  cursor: pointer;
  font-size: 15px;
}
.menu-box button:hover {
  color: red;
}

/* Student items */
.student-item {
  display: flex; 
  justify-content: 
  space-between; 
  align-items: center; 
  background: #f7f9fc; 
  padding: 14px 18px; 
  border-radius: 10px; 
  margin-bottom: 12px; 
  border: 1px solid #e0e6ef; 
  transition: 0.2s ease;
}

.student-item a {
  color: #1b3764;
  font-size: 18px;
  text-decoration: none;
}

/* MODAL */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.modal {
  background: #fff;
  padding: 22px;
  border-radius: 10px;
  width: 90%;
  max-width: 350px;
  text-align: center;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.modal-buttons .yes,
.modal-buttons .no {
  padding: 8px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.modal-buttons .yes {
  background: #e63946;
  color: #fff;
}

.modal-buttons .no {
  background: #ddd;
}

